* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-large {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

.text-medium {
  font-size: 20px;
  line-height: 28px;
}

.text-small {
  font-size: 16px;
  line-height: 24px;
}

.button {
  width: 240px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  border: transparent;
  display: inline-block;
}

/* Header */
.header-container {
  background-color: #331436;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-text {
  font-size: 28px;
}

.logo-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.header-container a {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
}

#logo {
  width: 50px;
  height: 50px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 552px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  gap: 40px;
}

.nav-items a {
  text-decoration: none;
  color: #fff;
}

.nav-items input {
  display: flex;
  background-color: #331436;
  border: 0.5px solid #ffffff10;
  width: 200px;
  height: 36px;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  background-image: url(/assets/kanban/ic-search.png);
  background-repeat: no-repeat;
  background-position: 92%;
}
.nav-items-input-container {
  border: none;
  border-radius: 6px;
}
/* Main */

.kanban-container {
  display: flex;
  height: 746px;
  justify-content: center;
  gap: 60px;
  padding: 60px 170px;
  background-color: #00000010;
}

.kanban-card {
  height: 626px;
  width: 240px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kanban-card h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #331436;
}

.square-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 127px;
  padding: 10px;
  gap: 10px;
  background-color: #f8f2ff;
  border-radius: 8px;
  border: 1px solid #331434;
  cursor: grab;
}

.square-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square-item-low-row {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 39px;
  padding: 7px;
  align-items: center;
}

.square-item-date-text {
  font-size: 10px;
  line-height: 24px;
  color: #00000050;
}
.square-item-priority-icon {
  width: 30px;
  height: 15px;
}

.square-item-task-name {
  font-size: 12px;
  line-height: 24px;
  font-weight: bolder;
}

.square-item-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
.square-item-delete-btn {
  background-image: url(/assets/kanban/card1/Icon.png);
  background-size: 80%;
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
}

/* Footer */

footer {
  display: flex;
  box-sizing: border-box;
  background-color: #331436;
  padding: 0px 60px;
  height: 220px;
  align-items: center;
  color: #fff;
  gap: 60px;
  justify-content: center;
}

.socialmedia-container {
  width: 136px;
  height: 34.46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmedia-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: #ffffff;
}

.copyright-container {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.copyright-container a,
.button a {
  color: #fff;
}
